@font-face {
    font-family: "superlume";
    src: url("../font/superlume.woff2");
}

h1{
    font-family: "superlume";
    color: #4e7;
}

input {
    border: none;
    border-radius: 3px;
    background: linear-gradient(135deg, rgba(15,15,15, 0.5) 0%, rgba(15,15,15, 1) 95%, rgba(200, 200, 225, 0.1) 95.1%);
    height: 1.5rem;
    line-height: 1.3rem;
    color: white;
    padding-left: 5px;
    margin: 5px;
}

body
{
}